In [41]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('../data/interim/houses.csv')
df.count()

house_type      1979
address         1978
region          1956
area            1966
sup_area        1979
rooms           1954
land_area       1522
monthly_fee     1979
date_sold       1979
broker          1979
price_change    1979
price           1979
dtype: int64

In [43]:
df = df[df.area.isnull() == False]

In [44]:
df_rooms = df.copy()
df_rooms = df_rooms[df_rooms.rooms.isnull() == False]
df_rooms['area_per_room'] = df_rooms.area / df_rooms.rooms
np.round(df_rooms.area_per_room.mean(), 0)

25.0

In [45]:
df.rooms.fillna(df.area / 25.0, inplace=True)

In [46]:
df.land_area.fillna(0, inplace=True)

In [47]:
df.count()

house_type      1966
address         1965
region          1943
area            1966
sup_area        1966
rooms           1966
land_area       1966
monthly_fee     1966
date_sold       1966
broker          1966
price_change    1966
price           1966
dtype: int64

In [48]:
df['is_condo'] = df.monthly_fee > 0
df[df.is_condo == False].head()

,house_type,address,region,area,sup_area,rooms,land_area,monthly_fee,date_sold,broker,price_change,price,is_condo
0,Radhus,Hollywoodvägen 15,Rotebro,96.0,0.0,3.0,397.0,0.0,2020-01-24,Fastighetsbyrån Sollentuna,0.0,3795000.0,False
1,Radhus,Pukvägen 4,Viby,128.0,24.0,6.0,320.0,0.0,2020-01-23,Fastighetsbyrån Sollentuna,-1.0,4950000.0,False
2,Radhus,Solängsvägen 92,Solängen,140.0,0.0,5.0,260.0,0.0,2020-01-23,HusmanHagberg Sollentuna,12.0,5525000.0,False
3,Radhus,Västervägen 14C,Häggvik,105.0,4.0,5.0,414.0,0.0,2020-01-22,Fastighetsbyrån Sollentuna,3.0,5000000.0,False
4,Radhus,Koltrastvägen 56,Sjöberg,137.0,0.0,6.0,173.0,0.0,2020-01-22,Länsförsäkringar Fastighetsförmedling Sollentuna,6.0,6350000.0,False

In [49]:
df[df.is_condo].head()

,house_type,address,region,area,sup_area,rooms,land_area,monthly_fee,date_sold,broker,price_change,price,is_condo
5,Radhus,Aspvägen 24E,Sollentuna/Fågelsången,103.0,0.0,5.0,0.0,4750.0,2020-01-21,Notar,1.0,3700000.0,True
6,Radhus,Nyodlingsvägen 5S,Helenelund,87.5,20.0,4.0,0.0,4667.0,2020-01-20,Länsförsäkringar Fastighetsförmedling Sollentuna,-1.0,3450000.0,True
10,Radhus,Södersätravägen 35 lgh 1015,Väsjön,144.0,16.0,6.0,0.0,4666.0,2020-01-17,Fastighetsbyrån Sollentuna,0.0,5200000.0,True
15,Radhus,Lantgårdsvägen 47,Viby,106.7,0.0,5.0,0.0,7309.0,2020-01-15,Fastighetsbyrån Sollentuna,10.0,3500000.0,True
23,Radhus,Södersätravägen 33 lgh 1017,Väsjön,144.0,16.0,6.0,0.0,4666.0,2020-01-02,Fastighetsbyrån Sollentuna,0.0,5200000.0,True

In [50]:
df['total_area'] = df.area + df.sup_area
df['price_per_sqm'] = df.price / df.area
df['price_per_tsqm'] = df.price / df.total_area
df['list_price'] = np.round((df.price * 100 / (100 + df.price_change)) / 1000, 0) * 1000

In [51]:
df.head()

,house_type,address,region,area,sup_area,rooms,land_area,monthly_fee,date_sold,broker,price_change,price,is_condo,total_area,price_per_sqm,price_per_tsqm,list_price
0,Radhus,Hollywoodvägen 15,Rotebro,96.0,0.0,3.0,397.0,0.0,2020-01-24,Fastighetsbyrån Sollentuna,0.0,3795000.0,False,96.0,39531.250000,39531.250000,3795000.0
1,Radhus,Pukvägen 4,Viby,128.0,24.0,6.0,320.0,0.0,2020-01-23,Fastighetsbyrån Sollentuna,-1.0,4950000.0,False,152.0,38671.875000,32565.789474,5000000.0
2,Radhus,Solängsvägen 92,Solängen,140.0,0.0,5.0,260.0,0.0,2020-01-23,HusmanHagberg Sollentuna,12.0,5525000.0,False,140.0,39464.285714,39464.285714,4933000.0
3,Radhus,Västervägen 14C,Häggvik,105.0,4.0,5.0,414.0,0.0,2020-01-22,Fastighetsbyrån Sollentuna,3.0,5000000.0,False,109.0,47619.047619,45871.559633,4854000.0
4,Radhus,Koltrastvägen 56,Sjöberg,137.0,0.0,6.0,173.0,0.0,2020-01-22,Länsförsäkringar Fastighetsförmedling Sollentuna,6.0,6350000.0,False,137.0,46350.364964,46350.364964,5991000.0

In [52]:
df.region.unique()

array(['Rotebro', 'Viby', 'Solängen', 'Häggvik', 'Sjöberg',
       'Sollentuna/Fågelsången', 'Helenelund', 'Sollentuna', 'Törnskogen',
       'Väsjön', 'Rotsunda', 'Sollentuna Viby', 'Töjnan', nan,
       'Fågelsången', 'Rotebro/Sollentuna', 'Norrviken', 'Tureberg',
       'Edsviken', 'Sollentuna Sjöberg', 'Kärrdal', 'Vaxmora',
       'Silverdal', 'Landsnora', 'Skälby', 'Töjnan Tureberg',
       'Tegelhagen', 'Sollentuna/Väsjön', 'Edsbacka', 'Edsängen',
       'Edsberg/Landsnora', 'Centrala Sollentuna/Tureberg',
       'Edsberg - Landsnora', 'Pommern', 'Häggvik - Skälby', 'Gillbo',
       'Sollentuna Centrum', 'Kvarnskogen Landsnora',
       'Väsjön - Södersätra', 'Helenelund/Kummelby',
       'Falkberget/Landsnora', 'Edsberg', 'Kvarnskogen', 'Gillberga',
       'Falkberget', 'Sollentuna - Tureberg', 'SOLLENTUNA - NORRVIKEN',
       'Östra Viby', 'Rotebro - Gillbo', 'Häggvik/Skälby', 'Södersättra',
       'Fågelsången/Sollentuna', 'Centrala Sollentuna',
       'Centrala Tureberg', 'SOLLENTUNA', 'Edsberg-Landsnora',
       'Törnskogen-Sollentuna', 'Sollentuna Rotsunda',
       'Sollentuna Rotebro', 'Sollentuna Töjnan', 'Rotebro/Gillbo',
       'Tunberget', 'Helenelund/Fågelsången', 'Sollentuna - Rotsunda',
       'Sollentuna/Rotebro', 'Väsjön / Södersätra', 'Viby Sollentuna',
       'Edsberg / Landsnora', 'Rotebro/Rotsunda', 'Sollentuna-Sjöberg',
       'Gillbo Rotebro', 'Rotebro Gillberga', 'Sollentuna - Norrviken',
       'Edsviken/Hersby', 'Edsviken/Nytorp', 'Gillbo - Rotebro',
       'Hästhagen', 'Hersby', 'Fågelsången/Helenelund', 'Waxmora',
       'Tureberg/Töjnan', 'Sollentuna - Edsviken', 'Sollentuna/Töjnan',
       'Sollentuna / Töjnan', 'Huset sålt visningen inställd',
       'Edsviken Huset sålt visningen inställd.', 'Gillbo / Rotebro',
       'Sollentuna Norrviken', 'Häggvik / Sollentuna',
       'Sollentuna / Rotebro', 'Kummelby', 'Häggvik/Edsbacka',
       'Rotebro/Hollywood', 'Sollentuna Edsängen', 'Sollentuna Edsberg',
       'Edsberg-Sollentuna', 'Sollentuna Landsnora', 'Sollentuna Vaxmora',
       'Edsängen/Edsberg', 'Södersätra', 'Sollentuna Helenelund',
       'Sollentuna Fågelsången', 'Edsviken/Tegelhagen',
       'Bagarby / Tureberg'], dtype=object)

In [53]:
df.region.value_counts().head(25)

Viby                   317
Norrviken              220
Töjnan                 141
Edsviken               113
Helenelund             109
Rotebro                108
Häggvik                100
Fågelsången             77
Silverdal               67
Tegelhagen              58
Törnskogen              58
Sjöberg                 52
Rotsunda                49
Kärrdal                 46
Tureberg                40
Gillbo                  37
Edsängen                34
Landsnora               29
Vaxmora                 27
Solängen                25
Edsberg                 24
Väsjön                  20
Kvarnskogen             18
Centrala Sollentuna     12
Sollentuna               9
Name: region, dtype: int64

In [85]:
df['region'].fillna("UNKNOWN", inplace=True)

def clean_region(region):
    u_region = region.upper()
    if "VIBY" in u_region:
        return "VIBY"
    if "NORRVIKEN" in u_region:
        return "NORRVIKEN"
    if "TÖJNAN" in u_region:
        return "TÖJNAN"
    if "EDSVIKEN" in u_region:
        return "EDSVIKEN"
    if "HELENELUND" in u_region:
        return "HELENELUND"
    if "ROTEBRO" in u_region:
        return "ROTEBRO"
    if "HÄGGVIK" in u_region:
        return "HÄGGVIK"
    if "FÅGELSÅNGEN" in u_region:
        return "FÅGELSÅNGEN"
    if "SILVERDAL" in u_region:
        return "SILVERDAL"
    if "TEGELHAGEN" in u_region:
        return "TEGELHAGEN"
    if "TÖRNSKOGEN" in u_region:
        return "TÖRNSKOGEN"
    if "SJÖBERG" in u_region:
        return "SJÖBERG"
    if "ROTSUNDA" in u_region:
        return "ROTSUNDA"
    if "KÄRRDAL" in u_region:
        return "KÄRRDAL"
    if "TUREBERG" in u_region:
        return "TUREBERG"
    if "GILLBO" in u_region:
        return "GILLBO"
    if "EDSÄNGEN" in u_region:
        return "EDSÄNGEN"
    if "LANDSNORA" in u_region:
        return "LANDSNORA"
    if "VAXMORA" in u_region:
        return "VAXMORA"
    if "SOLÄNGEN" in u_region:
        return "SOLÄNGEN"
    if "VÄSJÖN" in u_region:
        return "VÄSJÖN"
    if "KVARNSKOGEN" in u_region:
        return "KVARNSKOGEN"
    return "SOLLENTUNA"

df['region'] = df.apply(lambda row: clean_region(row['region']), axis=1)
df.region.unique()

array(['ROTEBRO', 'VIBY', 'SOLÄNGEN', 'HÄGGVIK', 'SJÖBERG', 'FÅGELSÅNGEN',
       'HELENELUND', 'SOLLENTUNA', 'TÖRNSKOGEN', 'VÄSJÖN', 'ROTSUNDA',
       'TÖJNAN', 'NORRVIKEN', 'TUREBERG', 'EDSVIKEN', 'KÄRRDAL',
       'VAXMORA', 'SILVERDAL', 'LANDSNORA', 'TEGELHAGEN', 'EDSÄNGEN',
       'GILLBO', 'KVARNSKOGEN'], dtype=object)

In [86]:
df.region.value_counts()

VIBY           322
NORRVIKEN      223
TÖJNAN         151
ROTEBRO        126
SOLLENTUNA     120
EDSVIKEN       118
HELENELUND     115
HÄGGVIK        107
FÅGELSÅNGEN     80
SILVERDAL       67
TÖRNSKOGEN      59
TEGELHAGEN      58
SJÖBERG         55
ROTSUNDA        51
LANDSNORA       49
TUREBERG        47
KÄRRDAL         46
GILLBO          37
EDSÄNGEN        36
VÄSJÖN          28
VAXMORA         28
SOLÄNGEN        25
KVARNSKOGEN     18
Name: region, dtype: int64

In [105]:
df.broker.fillna('UNKNOWN', inplace=True)

def clean_broker(broker):
    if "Fastighetsbyrån" in broker:
        return "Fastighetsbyrån"
    if "Mäklarhuset" in broker:
        return "Mäklarhuset"
    if "Bjurfors" in broker:
        return "Bjurfors"
    if "Susanne Persson" in broker:
        return "Susanne Persson"
    if "Notar" in broker:
        return "Notar"
    if "Länsförsäkringar" in broker:
        return "Länsförsäkringar"
    if "HusmanHagberg" in broker:
        return "HusmanHagberg"
    if "Svensk Fastighetsförmedling" in broker:
        return "Svensk Fastighetsförmedling"
    if "SkandiaMäklarna" in broker:
        return "SkandiaMäklarna"
    if "ERA" in broker:
        return "ERA"
    if "Erik Olsson" in broker:
        return "Erik Olsson"
    return "Other"

df['broker'] = df.apply(lambda row: clean_broker(row['broker']), axis=1)
df.broker.value_counts()

Fastighetsbyrån                629
Mäklarhuset                    249
Bjurfors                       205
Notar                          164
Susanne Persson                164
Länsförsäkringar               136
HusmanHagberg                  135
Svensk Fastighetsförmedling    127
SkandiaMäklarna                 67
Other                           47
ERA                             26
Erik Olsson                     17
Name: broker, dtype: int64

In [106]:
df = df[df.price_change < 50]

In [108]:
df.count()

house_type        1964
address           1963
region            1964
area              1964
sup_area          1964
rooms             1964
land_area         1964
monthly_fee       1964
date_sold         1964
broker            1964
price_change      1964
price             1964
is_condo          1964
total_area        1964
price_per_sqm     1964
price_per_tsqm    1964
list_price        1964
dtype: int64